<!-- Add new -->
<div class="card card-plain mx-3 d-grid gap-2">
  <button [routerLink]="['/', listName, 'edit', '']" type="button" class="btn fw-bold text-uppercase" [class]="color[1]">
    Új elem felvétele
    <i class="fa fa-angle-right mx-2"></i>
  </button>
</div>

<!-- Search -->
<div class="mb-5">
  <label for="">Search</label>
  <input [(ngModel)]="phrase" type="text" class="form-control" placeholder="Search for...">
</div>

<table class="table">
  <thead>
    <tr>
      <th *ngFor="let col of columns;index as i" draggable="true" (dragstart)="dragStartColumn(i)"
      (dragover)="allowDrop($event)" (drop)="dropColumn(i, columns)" (click)="onSort(col)">
        <div class="th_center">
          <i *ngIf="sorterKey === col && sorterDirection === 1" class="fa fa-sort-alpha-asc mr-2"></i>
          <i *ngIf="sorterKey === col && sorterDirection === -1" class="fa fa-sort-alpha-desc mr-2"></i>
          <span>{{ col | titlecase }}</span>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of entity | async | filter:phrase | sorter:sorterKey:sorterDirection">
      <td *ngFor="let col of columns">
        {{ e[col] | stringCutter:0:30:col}}
      </td>
      <td>
        <div class="btn-group">
          <button [routerLink]="['/', listName, 'edit', e.id]" class="btn btn-small" [class]="color[0]"><i
              class="fa fa-pencil"></i></button>
          <button *ngIf="e.status!=='stornózott'" (click)="onDelete(e)" class="btn btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
