<div class="row">
  <div *ngIf="order$ | async as order" class="col-6 offset-3">
    <form #orderForm="ngForm" (ngSubmit)="onUpdate(order)">
      <input [(ngModel)]="order.id" name="id" type="hidden">
      <div class="form-group">
        <label for="customer-id">CustomerID</label>
        <input pattern="^[0-9]{0,}$" [(ngModel)]="order.customerID" id="customer-id" name="customerID" type="text" class="form-control" #CustomerID="ngModel" required>
      </div>
      <div class="error-feedback" [hidden]="CustomerID.valid || CustomerID.pristine">
        CustomerID is required!
      </div>
      <div class="form-group">
        <label for="status-id">Status</label>
        <input [(ngModel)]="order.status" id="status-id" name="status" type="text" class="form-control" #status="ngModel" required>
      </div>
      <div class="error-feedback" [hidden]="status.valid || status.pristine">
        Status is required!
      </div>
      <button [disabled]="orderForm.invalid" class="btn btn-primary mx-2">
        Save
      </button>
    </form>
  </div>
</div>




