<div class="row">
  <div *ngIf="bill$ | async as bill" class="col-6 offset-3">
    <form>
      <input [(ngModel)]="bill.id" name="id" type="hidden">
      <div class="form-group">
        <label for="bill-id">OrderID</label>
        <input [(ngModel)]="bill.orderID" id="order-id" name="orderID" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="amount-id">Amount</label>
        <input [(ngModel)]="bill.amount" id="amount-id" name="amount" type="text" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="status-id">Status</label>
        <input [(ngModel)]="bill.status" id="status-id" name="status" type="text" class="form-control" required>
      </div>
      <button class="btn btn-primary mx-2" type="button">
        Save
      </button>
      <button class="btn btn-danger mx-2" type="button">
        Delete
      </button>
    </form>
  </div>
</div>





