<div class="row">
  <div *ngIf="category$ | async as category" class="col-6 offset-3">
    <form #categoryForm="ngForm" (ngSubmit)="onUpdate(category)">
      <input [(ngModel)]="category.id" name="id" type="hidden">
      <div class="form-group">
        <label for="name-id">Name</label>
        <input pattern="^[a-űA-Ű\s]{5,}$" [(ngModel)]="category.name" id="name-id" name="name" type="text" class="form-control" #Name="ngModel" required>
      </div>
      <div class="error-feedback" [hidden]="Name.valid || Name.pristine">
        The name must be at least 5 character!
      </div>
      <div class="form-group">
        <label for="description-id">Description</label>
        <textarea pattern="^[a-űA-Ű\s]{5,}$" [(ngModel)]="category.description" id="description-id" name="description" type="text" class="form-control" #description="ngModel" required></textarea>
      </div>
      <div class="error-feedback" [hidden]="description.valid || description.pristine">
        The description must be at least 5 character!
      </div>
      <button [disabled]="categoryForm.invalid" class="btn btn-primary mx-2">
        Save
      </button>
    </form>
  </div>
</div>


