<div class="row">
  <div *ngIf="orderline$ | async as orderline" class="col-6 offset-3">
    <form #productForm="ngForm" (ngSubmit)="onUpdate(orderline)">
      <input [(ngModel)]="orderline.id" name="id" type="hidden">
      <div class="form-group">
        <label for="name-id">Product</label>
        <select [(ngModel)]="orderline.productID" id="name-id" name="name" type="text" class="form-control" #Name="ngModel" required>
        <option *ngFor="let product of products$ | async" [value]="product.id">{{ product.name }}</option>
        </select>
        </div>
      <div class="form-group">
        <label for="type-id">Amount</label>
        <input pattern="^[0-9]{0,}$" [(ngModel)]="orderline.amount" id="type-id" name="type" type="text" class="form-control" #amount="ngModel" required>
      </div>
      <div class="error-feedback" [hidden]="amount.valid || amount.pristine">
        Amount is required!
      </div>
      <button [disabled]="productForm.invalid" class="btn btn-primary mx-2">
        Save
      </button>
    </form>
  </div>
</div>



