<nav
  aria-label="Page navigation example pag-nav"
  *ngIf="totalRecords && totalRecords?.length"
>
  <ul class="pagination justify-content-center pag-ul">
    <li class="page-item" [class.disabled]="!prev">
      <a
        *ngIf="prev"
        class="page-link"
        tabindex="-1"
        [routerLink]="['/', baseUrl]"
        [queryParams]="{ page: prev }"
        ><i class="fa fa-backward" aria-hidden="true"></i
      ></a>
      <a *ngIf="!prev" class="page-link" tabindex="-1"
        ><i class="fa fa-backward" aria-hidden="true"></i
      ></a>
    </li>

    <li *ngIf="firstPage" class="page-item">
      <a
        class="page-link"
        [routerLink]="['/', baseUrl]"
        [queryParams]="{ page: firstPage }"
        >{{ firstPage }} ...</a
      >
    </li>

    <li
      *ngFor="let page of range"
      class="page-item"
      [class.active]="page === curPage"
    >
      <a
        class="page-link"
        [routerLink]="['/', baseUrl]"
        [queryParams]="{ page: page }"
        >{{ page }}</a
      >
    </li>

    <li *ngIf="lastPage" class="page-item">
      <a
        class="page-link"
        [routerLink]="['/', baseUrl]"
        [queryParams]="{ page: lastPage }"
        >... {{ lastPage }}</a
      >
    </li>

    <li class="page-item" [class.disabled]="!next">
      <a
        *ngIf="next"
        class="page-link"
        tabindex="-1"
        [routerLink]="['/', baseUrl]"
        [queryParams]="{ page: next }"
        ><i class="fa fa-forward" aria-hidden="true"></i>
      </a>
      <a *ngIf="!next" class="page-link" tabindex="-1"
        ><i class="fa fa-forward" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>
