<div class="row">

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Active Customers<span class="badge badge-primary float-right">{{ (activeCustomers | async)?.count }}</span></h5>
        <ul class="list-group">
          <li *ngFor="let customer of (activeCustomers | async)?.random5" class="list-group-item">
            <a [routerLink]="['/', 'customer-editor', customer.id]">{{ customer.firstName}} {{ customer.lastName }}</a>
          </li>
        </ul>
        <a [routerLink]="['/', 'customers']" [queryParams]="{ actives: true }">more ...</a>
      </div>
      </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Active Products<span class="badge badge-primary float-right">{{ (activeProducts | async)?.count }}</span></h5>
        <ul class="list-group">
          <li *ngFor="let product of (activeProducts | async)?.random5" class="list-group-item">
              <a [routerLink]="['/', 'product-editor', product.id]">{{ product.name }}</a>
          </li>
        </ul>
        <a [routerLink]="['/', 'products']" [queryParams]="{ actives: true }">more ...</a>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New Orders<span class="badge badge-primary float-right">{{ (newOrders | async)?.count }}</span></h5>
        <ul class="list-group">
          <li *ngFor="let order of (newOrders | async)?.top5" class="list-group-item">
              <a [routerLink]="['/', 'order-editor', order.id]">{{ order.customer }} ({{ order.orderLines }} products)</a>
          </li>
        </ul>
        <a [routerLink]="['/', 'orders']" [queryParams]="{ status: 'new' }">more ...</a>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Shipped Orders<span class="badge badge-primary float-right">{{ (shippedOrders | async)?.count }}</span></h5>
        <ul class="list-group">
          <li *ngFor="let order of (shippedOrders | async)?.top5" class="list-group-item">
              <a [routerLink]="['/', 'order-editor', order.id]">{{ order.customer }} ({{ order.orderLines }} products)</a>
          </li>
        </ul>
        <a [routerLink]="['/', 'orders']" [queryParams]="{ status: 'shipped' }">more ...</a>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bills wait to pay<span class="badge badge-primary float-right">{{ (notPayedBills | async)?.count }}</span></h5>
        <ul class="list-group">
          <li *ngFor="let bill of (notPayedBills | async)?.top5" class="list-group-item">
              <a [routerLink]="['/', 'order-editor', bill.id]">{{ bill.id }}: {{ bill.amount }} Ft</a>
          </li>
        </ul>
        <a [routerLink]="['/', 'bills']" [queryParams]="{ status: 'new' }">Total: {{ (notPayedBills | async)?.amount }} Ft ...</a>
      </div>
    </div>
  </div>

</div>
