<div class="row">
  <div *ngIf="product$ | async as product" class="col-6 offset-3">
    <form #productForm="ngForm" (ngSubmit)="onUpdate(product)">
      <input [(ngModel)]="product.id" name="id" type="hidden">
      <div class="form-group">
        <label for="name-id">Name</label>
        <input pattern="^[a-űA-Ű\s]{5,}$" [(ngModel)]="product.name" id="name-id" name="name" type="text" class="form-control" #Name="ngModel" required>
      </div>
      <div class="error-feedback" [hidden]="Name.valid || Name.pristine">
        The name must be at least 5 character!
      </div>
      <div class="form-group">
        <label for="type-id">Type</label>
        <input [(ngModel)]="product.type" id="type-id" name="type" type="text" class="form-control" #type="ngModel" required>
      </div>
      <div class="error-feedback" [hidden]="type.valid || type.pristine">
        Type is required!
      </div>
      <div class="form-group">
        <label for="catID-id">catID</label>
        <select id="carID-id" name="catID" type="text" class="form-control" required>
          <option>cat1</option>
          <option>cat2</option>
          <option>cat3</option>
      </select>
      </div>
      <div class="form-group">
        <label for="description-id">Description</label>
        <textarea pattern="^[a-űA-Ű\s]{5,}$" [(ngModel)]="product.description" id="description-id" name="description" type="text" class="form-control" #description="ngModel" required></textarea>
      </div>
      <div class="error-feedback" [hidden]="description.valid || description.pristine">
        The description must be at least 5 character!
      </div>
      <div class="form-group">
        <label for="price-id">Price</label>
        <input pattern="^[0-9]{0,10}$" [(ngModel)]="product.price" id="price-id" name="price" type="text" class="form-control" #price="ngModel" required>
      </div>
      <div class="error-feedback" [hidden]="price.valid || price.pristine">
        Price is required!
      </div>
      <div class="form-group">
        <div class="form-check-inline">
          <label class="form-check-label" for="featured-id">
            <input [(ngModel)]="product.featured" type="checkbox" class="form-check-input" id="featured" name="featured">
            Featured
          </label>
          <label class="form-check-label ml-3" for="active-id">
            <input [(ngModel)]="product.active" type="checkbox" class="form-check-input" id="active" name="active">
            Active
          </label>
        </div>
      </div>
      <button [disabled]="productForm.invalid" class="btn btn-primary mx-2">
        Save
      </button>
    </form>
  </div>
</div>


